*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    margin-left: 36px;
    margin-top: 44px;
}

.links{
    margin-left: 23px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    width: 79px;
    height: 29px;   
}

.links:hover{
    opacity: 0.8;
}

.links:active{
    opacity: 0.4;
}


#buttonheader{
    margin-left: 45px;
    cursor: pointer;
    background: #665AE1;
    border-radius: 20.5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 130px;
    height: 41px;
}


#buttonheader:hover{
    opacity: 0.8;
}

#buttonheader:active{
    opacity: 0.4;
}

div{
    display: inline-block;
}

img{
    display: inline-block;
    width: 568px;
    height: 394px;
    margin-left: 125px;
    margin-top: 120px;
}

section{
    display: inline-block;
}

h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    width: 513px;
    height: 122px;
    margin-left: 86px;
    margin-top: 50px;
}

h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    width: 448px;
    height: 71px;
    margin-left: 86px;
    margin-bottom: 32px;
}

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    height: 87px;
    margin-left: 86px;
    margin-bottom: 65px;
}

#buttonfim{
    background: #ADFF00;
    border-radius: 20.5px;
    width: 239px;
    height: 64px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-left: 86px;
    cursor: pointer;
}

#buttonfim:hover{
    opacity: 0.8;
}

#buttonfim:active{
    opacity: 0.4;
}


@media screen and (max-width: 900px){
    header{
        display: none;
    }

    p{
        display: none;
    }

    img{
        margin-left: 6px;
        margin-top: 150px;
    }

    h1{
        margin-left: 150px;
        font-size: 50px;
        line-height: 61px;
        width: 263px;
        height: 52px;
    }

    h2{
        font-size: 30px;
        line-height: 37px;
        width: 232px;
        height: 37px;
        margin-left: 165px;
        margin-top: 10px;
    }

    #buttonfim{
        margin-left: 161px;
    }
}